.about_area {
  .about_info {
    .section__title {
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $bodyColor;
      line-height: 1.88;
    }
    .quote_text {
      position: relative;
      padding-left: 20px;
      max-width: 370px;
      padding-top: 5px;
      &::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        background-color: #af864d;
        width: 5px;
        height: 99px;
        top: 0;
        left: 0;
      }
      h5 {
        font-size: 20px;
        line-height: 1.5;
        color: $secondary;
        font-family: $font2;
        margin: 0;
      }
    }
  }
  .aboutThumb {
    border: 7px solid $secondary;
  }
}

// about page
.about_pageArea {
  .about_pageAreaWrapper {
    display: flex;
    grid-gap: 50px;
    padding: 50px;
    background: $white;
    margin-top: -80px;
    position: relative;
    z-index: 1;
    @media #{$tab2} {
      padding: 30px;
      flex-wrap: wrap;
      grid-gap: 30px;
    }
    .about_pageAreaWrapperLeft {
      max-width: 666px;
      h3 {
        font-size: 50px;
        font-weight: bold;
        color: $primary;
        margin-bottom: 31px;
        @media #{$tab2} {
          font-size: 40px;
        }
      }
      .single_aboutInfo {
        margin-bottom: 27px;
        h4 {
          font-size: 25px;
          font-weight: bold;
          color: $primary;
          margin-bottom: 28px;
        }
        p {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.69;
          color: #6d6d6d;
        }
      }
    }
  }
}
// about_boxs
.about_boxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  @media #{$tab} {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
  .about_single_box {
    display: flex;
    grid-gap: 56px;
    padding: 45px 0;
    @media #{$tab} {
      border-bottom: 1px solid #bcbcbc;
      padding: 30px 0;
      grid-gap: 15px;
      flex-wrap: wrap;
    }
    @media #{$medium_device} {
      grid-gap: 25px;
    }
    &:nth-child(-n + 2) {
      border-bottom: 1px solid #bcbcbc;
    }
    &:nth-child(2n) {
      padding-left: 118px;
      border-left: 1px solid #bcbcbc;
      @media #{$medium_device} {
        padding-left: 20px;
      }
      @media #{$lg_device} {
        padding-left: 30px;
      }
      @media #{$tab} {
        padding-left: 0;
        border-left: 0;
      }
    }
    .icon {
      max-width: 72px;
      flex: 72px 0 0;
    }
    .aboutInfo_text {
      h4 {
        font-family: $font1;
        font-size: 25px;
        font-weight: 400;
        color: #af864d;
        margin-bottom: 17px;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #858585;
        max-width: 360px;
      }
    }
  }
}
