.banner_area {
  background-image: url(../img/banner/banner.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 250px;
  padding-bottom: 0;
  @media #{$tab} {
    padding-top: 80px;
  }
  .banner_text {
    .subheading {
      font-size: 16px;
      font-weight: 600;
    }
    max-width: 885px;
    h3 {
      font-size: 60px;
      line-height: 1.25;
      margin-bottom: 30px;
      color: $white;
      font-family: $font1;
      font-weight: 700;
      @media #{$tab} {
        font-size: 35px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      line-height: 26px;
      font-family: $font2;
      margin-bottom: 51px;
    }
    .large_search_field {
      @media #{$small_mobile} {
        width: 100%;
      }
    }
  }
}

.banner_bottom_info {
  display: flex;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 40px;
  margin-top: 160px;
  flex-wrap: wrap;
  @media #{$tab} {
    padding: 20px;
    margin-top: 60px;
  }
  .single_banner_info {
    grid-gap: 10px;

    .icon {
    }
    span {
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
  }
}

.bannerSocial_links {
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  @media #{$tab2} {
    display: none;
  }
  @media #{$large_xl} {
    top: 20%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: $secondary;
    color: $white;
    font-size: 15px;
    position: relative;
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 2px;
      height: 2px;
      background: $white;
    }
  }
}
.bannerManImg {
  max-width: 607px;
  position: absolute;
  right: 120px;
  bottom: 0;
  @media #{$tab2} {
    display: none;
  }
  @media #{$large_xl} {
    max-width: 507px;
    right: 20px;
  }
}
