.blogDetailsPage_area {
  .blogPage_textInformation {
    .single_blogPage_textInformation {
      h3 {
        font-size: 46px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 25px;
        @media #{$tab2} {
          font-size: 35px;
        }
      }
      h4 {
        font-size: 22px;
        font-weight: normal;
        font-family: $font1;
        line-height: 1.59;
        letter-spacing: 2.86px;
        color: #000;
        margin-bottom: 9px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.83;
        color: #6d6d6d;
      }
      ul {
        padding-left: 40px;
        margin: 32px 0 73px 0;
        li {
          font-size: 18px;
          line-height: 1.83;
          color: #6d6d6d;
          font-weight: 400;
          position: relative;
          padding-left: 16px;
          &::before {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background: #6d6d6d;
            left: 0;
            top: 13px;
            border-radius: 50%;
          }
        }
      }
      .single_blogPageBanner {
        margin-bottom: 71px;
      }
      ol {
        padding-left: 40px;
        margin: 32px 0 65px 0;
        li {
          font-size: 18px;
          line-height: 1.83;
          color: #6d6d6d;
          font-weight: 400;
          position: relative;
          padding-left: 16px;
        }
      }
      .quote_text {
        background: $white;
        padding: 76px 66px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 8px;
          background: $secondary;
        }
        p {
          font-size: 22px;
          font-weight: normal;
          line-height: 1.5;
          color: #6d6d6d;
        }
      }
      .aboutInfoBox {
        display: flex;
        background: $white;
        padding: 60px 40px;
        @media #{$tab2} {
          padding: 30px;
        }
        @media #{$small_mobile} {
          flex-wrap: wrap;
        }
        .thumb {
          width: 115px;
          height: 115px;
          border-radius: 50%;
          flex: 115px 0 0;
          img {
          }
        }
        .aboutInfoBox_content {
          span {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 1.4px;
            color: #000;
            text-transform: uppercase;
            display: block;
            margin-bottom: 3px;
          }
          h5 {
            font-size: 16px;
            font-family: $font1;
            font-weight: 500;
            line-height: 0.94;
            letter-spacing: 1.12px;
            color: #af864d;
          }
          p {
            font-size: 18px;
            font-weight: normal;
            line-height: 1.67;
            color: #6d6d6d;
            margin: 23px 0 25px 0;
          }
        }
      }
    }
  }
  .blogDetailsPage_img {
    margin-top: -348px;
    height: 695px;
    background-image: url(../img/blog/blogDeatils_banner.jpg);
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 90px;
    @media #{$tab} {
      margin-top: -80px;
      height: 300px;
      margin-bottom: 60px;
    }
  }
  .borderBottom_1px {
    padding-bottom: 80px;
  }
}
.blogDetailsBanner_area {
  background-image: url(../img/banner/blog_banner_bg_1.jpg);
  background-size: cover;
  background-position: bottom center;
  padding: 113px 0;
  height: 776px;
  @media #{$tab} {
    height: 400px;
  }
  .blogBradcam_info {
    span {
      font-size: 18px;
      font-weight: 600;
      color: #af864d;
    }
    .lineDivider {
      position: relative;
      top: -2px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      color: #fff;
      font-family: $font1;
      margin-bottom: 0;
    }
    h3 {
      font-size: 60px;
      font-weight: 600;
      line-height: 1.17;
      color: #fff;
      font-family: $font2;
      max-width: 840px;
      margin-top: 20px;
      @media #{$tab} {
        font-size: 30px;
      }
    }
  }
}
