.blog_area {
  padding-top: 100px;
  padding-bottom: 200px;
  @media #{$tab} {
    padding-top: 66px;
    padding-bottom: 100px;
  }
  @media #{$medium_device} {
    padding-bottom: 100px;
  }
}
.blog_widget {
  border: 1px solid #dedede;
  .thumb {
    display: block;
    overflow: hidden;
    img {
      transition: 0.3s;
      transform: scale(1.1);
      width: 100% !important;
    }
  }
  .blog_meta {
    @media #{$medium_device} {
      padding-right: 0;
    }
    .blog_meta_top {
      padding: 36px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.4px solid #bcbcbc;
      @media #{$tab} {
        padding: 20px;
      }
      .blog_meta_left {
        color: #af864d;
        font-size: 18px;
        font-weight: 600;
      }
      .blog_meta_right {
        font-size: 18px;
        font-weight: 500;
        color: #858585;
      }
    }
    .blog_meta_inner {
      padding: 32px 40px 45px 40px;
      @media #{$tab} {
        padding: 20px;
      }
      h4 {
        a {
          font-size: 25px;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 0.38px;
          transition: 0.3s;
          font-family: $font1;
          &:hover {
            color: $secondary;
          }
        }
      }
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #858585;
        margin: 22px 0 30px 0;
      }
    }
  }
}
// blog_page_wrapper
.blog_page_wrapper {
  padding: 150px 0 90px 0;
  @media #{$tab} {
    padding: 75px 0 35px 0;
  }
  .single_blog {
    margin-bottom: 50px;
    @media #{$tab} {
      margin-bottom: 30px;
    }
    .thumb {
      overflow: hidden;
      margin-bottom: 44px;
      display: block;
      @media #{$tab} {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        transition: 0.3s;
        transform: scale(1);
      }
    }
    .blog_meta {
      span {
        font-family: $font2;
        font-size: 14px;
        font-weight: 500;
        color: #373737;
        display: block;
        margin-bottom: 16px;
      }
      h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        display: inline-block;
        @media #{$tab} {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    &:hover {
      .thumb {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

// blog_details_area
.blog_details_area {
  padding: 145px 0 147px 0;
  @media #{$tab} {
    padding: 75px 0 72px 0;
  }
  .mb_55 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
  .single_blog_details {
    .blog_details_banner {
      margin-bottom: 52px;
      @media #{$tab} {
        margin-bottom: 30px;
      }
    }
    .blog_title {
      margin-bottom: 57px;
      @media #{$tab} {
        margin-bottom: 30px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $color_1;
        display: block;
        margin-bottom: 18px;
      }
      h3 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        @media #{$tab} {
          font-size: 25px;
          line-height: 35px;
        }
      }
    }
    .quote_text {
      display: flex;
      margin: 60px 0 40px 0;
      @media #{$tab} {
        margin: 40px 0 20px 0;
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        color: #373737;
        line-height: 30px;
      }
      .horizontal_line {
        background: #fb1159;
        height: 3px;
        width: 90px;
        flex: 90px 0 0;
        position: relative;
        top: 6px;
        margin-right: 30px;
        @media #{$tab} {
          width: 40px;
          flex: 40px 0 0;
          margin-right: 20px;
        }
      }
    }
    .details_info {
      h4 {
        font-size: 24px;
        font-weight: 700;
        color: #202e3b;
        margin-bottom: 25px;
        @media #{$tab} {
          line-height: 34px;
          margin-bottom: 20px;
        }
      }
      h5 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: #373737;
        margin-bottom: 27px;
      }
      p {
      }
    }
  }
}

// blogBanner_area page
.blogBanner_area {
  background-image: url(../img/banner/blog_banner_bg_1.jpg);
  background-size: cover;
  background-position: bottom center;
  padding: 95px 0;
  .section__title {
    p {
      max-width: 429px;
    }
  }
  .blogBradcam_info {
    position: relative;
    padding: 50px 0;
    &::before {
      content: "";
      background-image: url(../img/banner/blogBradCamSmall.png);
      background-size: cover;
      background-position: bottom center;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 240px;
      @media #{$tab2} {
        left: 40px;
      }
    }
    .blogBradcam_info_text {
      padding: 40px 50px 35px 50px;
      background: $white;
      max-width: 620px;
      @media #{$tab2} {
        padding: 25px;
        margin-right: 30px;
      }
      h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.45;
        letter-spacing: 2.64px;
        color: #6d6d6d;
        margin: 26px 0 10px 0;
        @media #{$tab2} {
          font-size: 20px;
        }
      }
      p {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.83;
        color: #6d6d6d;
        @media #{$tab2} {
          font-size: 14px;
        }
      }
      .blogBradcam_bottom {
        border-top: 0.6px solid #bcbcbc;
        padding-top: 33px;
        margin-top: 63px;
        @media #{$tab2} {
          padding-top: 20px;
          margin-top: 30px;
        }
        a {
          color: $secondary;
          font-size: 20px;
          font-weight: 500;
          @media #{$tab2} {
            font-size: 14px;
          }
        }
        span {
          font-family: $font1;
          font-size: 20px;
          font-weight: 500;
          @media #{$tab2} {
            font-size: 14px;
          }
        }
      }
    }
  }
}
