.brand_area {
  background: $secondary;
  padding: 10px;
  .barnd_wrapper {
    background: #1e2027;
    border-radius: 10px;
    overflow: hidden;
    @media #{$tab} {
      margin-top: 0;
    }
    .single_brand {
      text-align: center;
      border-right: 1px solid #707070;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 317px;
      max-height: 317px;
      @media #{$tab} {
        min-height: 250px;
        max-height: 250px;
      }
      img {
        width: auto;
        display: inline-block;
        max-width: 158px;
      }
    }
  }
}
