.bradcam_bg_1 {
  background-image: url(../img/banner/bradcam_bg_1.jpg);
}
.bradcam_bg_2 {
  background-image: url(../img/banner/bradcam_bg_2.jpg);
}

.breadcrumb_area {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 586px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 0, 0, 0.7);
    z-index: -1;
  }
  @media #{$tab} {
    height: 400px;
  }
  .breadcam_wrap {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      font-size: 18px;
      font-weight: 600;
      color: $secondary;
      display: inline-block;
      margin: 13px 0 31px 0;
      text-transform: uppercase;
    }
    h3 {
      font-size: 46px;
      font-weight: 600;
      letter-spacing: 2.85px;
      line-height: 1.3;
      color: $white;
      max-width: 350px;
      margin-bottom: 16px;
      @media #{$lg_device} {
        font-size: 40px;
      }
      @media #{$tab} {
        font-size: 35px;
      }
    }
    p {
      font-size: 18px;
      color: $bodyColor;
      line-height: 1.83;
      font-weight: 400;
    }
  }
  &.style2 {
    height: 900px;
    align-items: start;
    padding-top: 100px;
    .breadcam_wrap {
      max-width: 650px;
      h3 {
        max-width: 501px;
      }
    }
  }
  &.style3 {
    .breadcam_wrap {
      max-width: 652px;
      h3 {
        max-width: 502px;
      }
    }
  }
  &.style4 {
    align-items: flex-start;
    padding-top: 100px;
    @media #{$tab} {
      padding: 40px 0;
      height: auto;
    }
    .breadcam_wrap {
      max-width: 700px;
      h3 {
        max-width: 530px;
      }
    }
  }
  &.style5 {
    @media #{$tab} {
      padding: 40px 0;
      height: auto;
    }
    .breadcam_wrap2 {
      display: flex;
      grid-column-gap: 94px;
      @media #{$tab} {
        flex-wrap: wrap;
        grid-gap: 30px;
      }
      .breadcam_wrapInner {
        max-width: 360px;
      }
      h3 {
        font-size: 55px;
        font-weight: 600;
        line-height: 1.09;
        letter-spacing: 3.41px;
        color: $white;
        @media #{$tab2} {
          font-size: 40px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.83;
        color: #dedede;
        margin: 19px 0 23px 0;
      }
    }
  }
  &.style6 {
    height: 460px;
    align-items: flex-start;
    padding-top: 76px;
    .breadcam_wrap {
      max-width: 760px;
      .subtext {
        font-size: 16px;
        font-weight: 600;
        color: $secondary;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 75px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        max-width: 760px;
        @media #{$tab2} {
          font-size: 45px;
        }
        span {
          color: $secondary;
          font-size: inherit;
          text-transform: inherit;
          font-family: inherit;
          margin: 0;
        }
        @media #{$tab2} {
          font-size: 45px;
        }
      }
    }
  }
}
