.primary_btn {
  background: $secondary;
  padding: 10px;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 16px;
  color: $white;
  font-weight: 600;
  padding: 21px 28px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  transition: 0.3s;
  min-width: 195px;
  text-align: center;
  &.small_btn {
    padding: 16px 25px;
  }
  &.small_btn2 {
    padding: 16px 37px;
  }
  &.small_btn3 {
    padding: 16px 32px;
  }
  &.small_btn4 {
    padding: 11px 21px;
  }
  &.small_btn5 {
    padding: 13.5px 46px;
  }
  &.small_btn6 {
    padding: 11px 39px;
  }
  @media #{$small_mobile} {
    padding: 15px 16px;
  }
  &:hover {
    color: $secondary;
    border-color: $secondary;
    background: transparent;
  }
}
.primary_btn_lite {
  background: #fff0f2;
  padding: 10px;
  @include border-radius(30px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary;
  font-weight: 500;
  padding: 7px 25px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  &.round_btn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
  }
  &:hover {
    color: $white;
    border-color: $secondary;
    background: $secondary;
  }
}
.theme_line_btn {
  background: transparent;
  padding: 10px;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
  padding: 21px 28px;
  border: 0.5px solid #af864d;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  border-color: $secondary;
  min-width: 195px;
  text-align: center;
  &.style2 {
    border-color: $white;
    color: $white;
    &:hover {
      color: $secondary;
      border-color: $white;
      background: $white;
    }
  }
  @media #{$small_mobile} {
    padding: 15px 16px;
  }
  &.small_btn2 {
    padding: 16px 39px;
  }
  &.small_btn3 {
    padding: 12px 15px;
  }
  &:hover {
    color: $white;
    border-color: $secondary;
    background: $secondary;
  }
}
.social_btn {
  padding: 10px;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 16px;
  color: $white;
  font-weight: 600;
  padding: 13px 34px;
  text-transform: capitalize;
  display: inline-block;
  &.fb_bg {
    background: #395799;
  }
  &.Twitter_bg {
    background: #03abf0;
  }
  &.Pinterest_bg {
    background: #c92128;
  }
  &.Linkedin_bg {
    background: #0477b5;
  }
  i {
    margin-right: 6px;
  }
  &:hover {
    color: $white;
    background: $secondary;
  }
}
.white_btn {
  background: $white;
  padding: 10px;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font2;
  font-size: 16px;
  color: $primary;
  font-weight: 600;
  padding: 21px 28px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  &:hover {
    color: $white;
    border-color: $secondary;
    background: $secondary;
  }
}
.white_btn2 {
  background: rgba(251, 17, 89, 0.1);
  padding: 10px;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font2;
  font-size: 16px;
  color: $secondary;
  font-weight: 600;
  padding: 13.5px 26px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  &:hover {
    color: $white;
    border-color: $secondary;
    background: $secondary;
  }
}
.line_link {
  font-size: 16px;
  font-weight: 600;
  font-family: $font1;
  color: $primary;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  &:hover {
    color: $primary;
  }
}
.theme_underLine_btn {
  background: transparent;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 18px;
  color: $secondary;
  font-weight: 600;
  padding: 0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  border-color: $secondary;
  position: relative;
  &.style2 {
    font-weight: 500;
    &::before {
      height: 1px;
      bottom: -7px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 99px;
    height: 2px;
    border-radius: 6px;
    background: $secondary;
    bottom: -9px;
  }
  &:hover {
    color: $secondary;
  }
}

.line_btn {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.15;
  letter-spacing: 1.4px;
  color: #000;
  position: relative;
  &:hover {
    color: $secondary;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    bottom: -4px;
  }
}
