.caseResult_details_overview {
  padding: 91px 0 70px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
  .caseResult_details_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bcbcbc;
    grid-gap: 30px;
    padding-bottom: 76px;
    @media #{$tab} {
      flex-wrap: wrap;
      padding-bottom: 40px;
    }
    .caseResult_details_headerSingle {
      h4 {
        font-size: 18px;
        font-family: $font1;
        font-weight: 500;
        line-height: 1.94;
        letter-spacing: 0.27px;
        color: $primary;
        margin-bottom: 20px;
        @media #{$tab} {
          margin-bottom: 15px;
        }
      }
      p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.36;
        color: #6d6d6d;
        max-width: 250px;
        &.serviceText {
          min-width: 255px;
        }
        &.res_text {
          font-size: 40px;
          font-weight: 500;
          letter-spacing: 0.6px;
          @media #{$tab2} {
            font-size: 22px;
          }
        }
      }
    }
  }
  .caseResult_details_body {
    .caseResult_details_single {
      &:not(:last-child) {
        border-bottom: 1px solid #bcbcbc;
        padding-bottom: 118px;
        margin-bottom: 115px;
        padding-top: 140px;
        @media #{$tab2} {
          padding-bottom: 60px;
          margin-bottom: 60px;
          padding-top: 60px;
        }
      }
      h4 {
        font-size: 46px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 2.85px;
        color: $primary;
        @media #{$tab2} {
          font-size: 35px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.83;
        color: #6d6d6d;
      }
      h5 {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 2.2px;
        color: $primary;
        margin: 55px 0 15px 0;
      }
      ul {
        margin-left: 40px;
        li {
          font-size: 18px;
          font-weight: normal;
          line-height: 1.83;
          color: #6d6d6d;
          position: relative;
          padding-left: 15px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 13px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #6d6d6d;
          }
        }
      }
    }
  }
}

.caseResultBox {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-top: 8px solid #af864d;
  padding: 94px 80px 93px 80px;
  margin-top: 142px;
  @media #{$tab2} {
    padding: 30px;
    margin-top: 60px;
  }
  h4 {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 2.85px;
    color: #000;
    @media #{$tab2} {
      font-size: 35px;
    }
  }
  p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.83;
    color: #6d6d6d;
  }
}
