.caseResult_area {
  padding: 0px 0 30px 0;
  margin-top: -120px;
  position: relative;
  z-index: 12;
  @media #{$tab2} {
    margin-top: 0;
    padding: 60px 0 30px 0;
  }
  .caseResult_widget {
    &.mb_70 {
      @media #{$tab2} {
        margin-bottom: 30px;
      }
    }
  }
}
.caseResult_widget {
  .thumb {
    img {
    }
  }
  .caseResult_meta {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 50px 38px 54px 38px;
    margin-right: 40px;
    position: relative;
    margin-top: -70px;
    @media #{$tab2} {
      margin-right: 30px;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      color: $secondary;
      display: block;
      margin-bottom: 19px;
      position: relative;
      padding-left: 40px;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 12px;
        width: 30px;
        height: 2px;
        background: $secondary;
      }
    }
    h4 {
      margin: 0;
      a {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.38px;
        color: $primary;
        font-family: $font1;
        &:hover {
          color: $secondary;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
      color: #858585;
      margin: 17px 0 23px 0;
    }
  }
}
