.choseArea {
  background: #1e2027;
  padding: 90px 0 60px 0;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 34.2%;
    z-index: -1;
    background: $secondary;
    @media #{$tab2} {
      display: none;
    }
  }
  .choseInfo {
    padding-left: 75px;
    @media #{$tab2} {
      padding-left: 0;
    }
    .choseInfo_inner {
      border-bottom: 1px solid rgba(222, 222, 222, 0.2);
      padding-bottom: 40px;
      margin-bottom: 30px;
      .choseInfo_innerText {
        h3 {
          font-size: 46px;
          font-weight: 600;
          color: $white;
          margin-bottom: 17px;
          @media #{$tab} {
            font-size: 30px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.67;
          color: #dedede;
        }
      }
    }
    .signature_wrap {
      .thumb {
        max-width: 165px;
        @media #{$tab} {
          max-width: 100px;
        }
      }
      .signature_text {
        h4 {
          font-size: 24px;
          font-weight: 600;
          font-family: $font1;
          color: $white;
          margin-bottom: 7px;
        }
        h5 {
          font-size: 22px;
          font-weight: 300;
          font-family: $font1;
          color: $white;
        }
      }
    }
  }
}
