.primary_input {
  height: 65px;
  border-radius: 0px;
  border: 1px solid #af864d;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 10px 30px;
  width: 100%;
  &::placeholder {
    color: #000;
    text-transform: uppercase;
    color: #989898;
  }
}
.primary_input3 {
  height: 60px;
  border-radius: 0px;
  border: 1px solid rgba(175, 134, 77, 0.4);
  font-family: $font1;
  color: $primary;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  &::placeholder {
    color: #989898;
    font-size: 16px;
  }
}
.primary_input4 {
  height: 60px;
  border: 1px solid #e3e6ef;
  font-size: 18px;
  font-weight: 400;
  color: #6d6d6d;
  padding: 20px 30px;
  width: 100%;
  &::placeholder {
    color: #6d6d6d;
  }
}
.primary_input5 {
  height: 56px;
  border: 0;
  font-family: $font2;
  font-size: 14px;
  font-weight: 500;
  color: $primary;
  padding: 23px 0px;
  width: 100%;
  position: relative;
  &::placeholder {
    color: #373737;
  }
}
.primary_input2 {
  height: 60px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 16px;
  font-weight: 300;
  color: $primary;
  padding: 0px 25px 25px 0;
  width: 100%;
  &::placeholder {
    font-size: 16px;
    color: #677294;
    text-transform: capitalize;
  }
}

.custom_input_group {
  height: 50px;
  .input-group-prepend {
    .input-group-text {
      min-width: 242px;
      max-width: 242px;
      background: #395799;
      border: 0;
      border-radius: 0;
      padding-left: 30px;
      padding-right: 24px;
      @media #{$tab} {
        min-width: 40px;
        max-width: 40px;
        flex: 40px 0 0;
        padding-left: 20px;
        padding-right: 35px;
        width: 40px;
      }
      &.twitter_bg {
        background: #1babf0;
      }
      &.linkedin_bg {
        background: #dd5143;
      }
      &.youtube_bg {
        background: #ff0000;
      }
      i {
        font-size: 16px;
        color: #fff;
        margin-right: 14px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        font-family: $font1;
        color: #fff;
        @media #{$tab} {
          display: none;
        }
      }
    }
  }
  input {
    height: 50px;
    border: 1px solid #e1e2e6 !important;
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    color: $primary;
    padding: 15px 20px;
    background: transparent !important ;
    box-shadow: none !important;
    border-radius: 0 !important;
    &::placeholder {
      color: #afafaf;
    }
  }
}
.primary_textarea {
  height: 150px;
  border-radius: 0px;
  font-family: $font1;
  font-size: 16px;
  font-weight: 300;
  color: $primary;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid rgba(175, 134, 77, 0.4) !important;
  &:focus {
    outline: none !important;
  }
  &::placeholder {
    font-size: 16px;
    color: #989898;
  }
}
.primary_textarea3 {
  height: 160px;
  border: 1px solid #e1e2e6;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary;
  padding: 15px 20px;
  width: 100%;
  &.style2 {
    height: 180px;
  }
  &.style3 {
    height: 150px;
    font-weight: 500;
    color: $primary;
    background: #f9f9fd;
    border-color: #e9e7f7;
    &::placeholder {
      font-weight: 500;
      color: #687083;
    }
  }
  &:focus {
    outline: none !important;
  }
  &::placeholder {
    color: #afafaf;
  }
}
.primary_textarea4 {
  height: 120px;
  border: 1px solid #e1e2e6;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  &::placeholder {
    color: #afafaf;
  }
}
.primary_label {
  font-size: 18px;
  font-weight: 500;
  color: $primary;
  font-family: $font1;
}
.primary_label2 {
  font-size: 18px;
  font-weight: 600;
  color: $primary;
  span {
    color: $secondary;
  }
}
.primary_textarea2 {
  height: 130px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #f0e7e2;
  font-family: $font2;
  font-size: 16px;
  font-weight: 300;
  color: $primary;
  padding: 3px 25px 0 0;
  width: 100%;
  &::placeholder {
    font-size: 14px;
    color: #677294;
    text-transform: capitalize;
  }
}
.primary_textarea5 {
  height: 130px;
  border-radius: 0px;
  border: 0;
  font-family: $font2;
  color: $primary;
  padding: 3px 25px 0 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border: 0 !important;
  &:focus {
    border: 0;
    outline: none;
  }
  &::placeholder {
    color: #373737;
  }
}
// contact_section
.contact_section {
  padding: 95px 0 235px 0;
  @media #{$tab2} {
    padding: 60px 0 120px 0;
  }
  .section__title2 {
    border-top: 1px solid #d5d5d5;
    padding-top: 100px;
    @media #{$tab2} {
      padding-top: 60px;
    }
  }
}
// contactInforamtionWrapper
.contactInforamtionWrapper {
  background-image: url(../img/banner/contactBG.png);
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 660px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  padding: 70px;
  @media #{$tab} {
    height: 500px;
    padding: 25px;
  }
  .contactInforamtionBox {
    max-width: 322px;
    background: $white;
    padding: 60px 50px;
    @media #{$small_mobile} {
      max-width: 100%;
      background: #fff;
      padding: 15px;
    }
    h3 {
      font-family: $font1;
      font-size: 25px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 2px;
      color: #000;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
      color: #858585;
      margin: 11px 0 10px 0;
    }
    .contactInfo {
      grid-gap: 10px;
      display: flex;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid rgba(175, 134, 77, 0.3);
        width: 38px;
        height: 38px;
        flex: 38px 0 0;
        border-radius: 50%;
      }
      h5 {
        font-family: $font1;
        font-size: 18px;
        font-weight: 400;
        color: #6d6d6d;
        margin-bottom: 0;
      }
    }
  }
}
// social_media_wrapper
.social_media_wrapper {
  margin-top: 85px;
  h3 {
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $primary;
    margin-bottom: 30px;
  }
  .social_media_links {
    @media #{$tab2} {
      grid-gap: 10px;
    }
    a {
      width: 64px;
      height: 64px;
      padding: 18.4px 25.1px 18.4px 25.1px;
      border: 1px solid rgba(175, 134, 77, 0.3);
      font-size: 25px;
      color: $secondary;
      border-radius: 50%;
      &:hover {
        color: $primary;
        background: $secondary;
        border-color: $secondary;
      }
    }
  }
}

// faqText
.faqText {
  h4 {
    font-family: $font1;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 2.64px;
    color: #6d6d6d;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #6d6d6d;
    a {
      text-decoration: underline;
      color: #6d6d6d;
      &:hover {
        color: $secondary;
      }
    }
  }
}

// contact banner
.contact_details_banner {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  padding-top: 171px;
  @media #{$medium_device} {
    height: 500px;
    padding-top: 100px;
  }
  @media #{$tab2} {
    height: auto;
    padding-top: 100px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 0, 0, 0.7);
    z-index: -1;
  }
  .pricing_details_text {
    h3 {
      font-size: 64px;
      font-weight: 600;
      color: $white;
      @media #{$tab} {
        font-size: 40px;
      }
    }
    h4 {
      font-family: $font1;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      margin: 0px 0 15px 0;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $white;
      margin: 0px 0 45px 0;
      max-width: 340px;
      line-height: 1.67;
    }
    .contactInfo {
      grid-gap: 10px;
      display: flex;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid $white;
        width: 38px;
        height: 38px;
        flex: 38px 0 0;
        border-radius: 50%;
      }
      h5 {
        font-family: $font1;
        font-size: 18px;
        font-weight: 400;
        color: $white;
        margin-bottom: 0;
      }
    }
  }
}
.contactForm_wrapper {
  display: flex;
  justify-content: space-between;
  @media #{$tab} {
    flex-wrap: wrap;
    grid-gap: 30px;
  }
  @media #{$tab2} {
    margin-bottom: 30px;
  }
  .contact_form {
    min-width: 640px;
    max-width: 640px;
    padding: 72px 40px 80px 40px;
    position: relative;
    top: 13px;
    border: 1px solid rgba(175, 134, 77, 0.3);
    background-color: #fff;
    @media #{$tab} {
      min-width: 280px;
      max-width: 100%;
      top: 0;
      padding: 30px;
    }
    @media #{$medium_device} {
      min-width: 370px;
      max-width: 370px;
    }
    @media #{$lg_device} {
      min-width: 450px;
      max-width: 450px;
    }
    @media #{$large_xl} {
      min-width: 450px;
      max-width: 450px;
    }
    h4 {
      font-family: $font1;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 2.2px;
      color: #000;
      @media #{$tab2} {
        font-size: 18px;
      }
    }
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.39;
      color: #6d6d6d;
      margin: 27px 0 48px 0;
      @media #{$tab2} {
        font-size: 14px;
      }
    }
    .priseText {
      margin-bottom: 40px;
      h5 {
        font-family: $font1;
        font-size: 24px;
        font-weight: 400;
        color: #000;
        @media #{$tab2} {
          font-size: 18px;
        }
      }
      span {
        font-family: $font1;
        font-size: 18px;
        font-weight: 400;
        color: #6d6d6d;
        text-decoration: line-through;
        @media #{$tab2} {
          font-size: 14px;
        }
      }
    }
  }
}
