.counter_area {
  padding: 66px 0 62px 0;
  position: relative;
  background-image: url(../img/about/counterBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
  .single_counter {
    text-align: center;
    h3 {
      min-width: 150px;
      margin-bottom: 12px;
      .counter {
        font-size: 75px;
        font-weight: 500;
        color: #fff;
        @media #{$tab2} {
          font-size: 45px;
        }
      }
      @media #{$tab} {
        font-size: 40px;
        width: auto;
        margin-bottom: 20px;
      }
    }
    .plus_icon {
      font-size: 35px;
      color: $secondary;
      position: relative;
      top: -14px;
    }
    .textIcon {
      font-size: 75px;
      font-weight: 500;
      font-family: $font2;
      color: $white;
      @media #{$tab2} {
        font-size: 45px;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
      color: #dedede;
      text-transform: uppercase;
      font-family: $font1;
    }
  }
}
