.cta_area {
  background-image: url(../img/banner/cta_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 156px 0 145px 0;
  &.style2 {
    padding: 120px 0 120px 0;
    .section__title p {
      margin-bottom: 35px;
      font-weight: normal;
    }
  }
  @media #{$tab} {
    padding: 75px 0;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #1e2027;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .section__title {
    h3 {
      margin-bottom: 15px;
      color: $white;
    }
    p {
      margin-bottom: 45px;
      color: $white;
      line-height: 1.67;
      font-weight: 500;
      max-width: 628px;
    }
  }
}
.practice_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media #{$tab} {
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$medium_device} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$lg_device} {
    grid-template-columns: repeat(2, 1fr);
  }
  .practice_widget {
    &:not(:nth-last-child(-n + 3)) {
      border-bottom: 1px solid #dedede;
    }
    &:nth-child(3n - 1) {
      border-right: 1px solid #dedede;
      border-left: 1px solid #dedede;
    }
  }
}
.practice_widget {
  padding: 35px 0 55px 45px;
  @media #{$tab} {
    border: 1px solid #dedede;
    margin-top: -1px;
    padding: 20px;
  }
  .icon {
  }
  h3 {
    font-size: 25px;
    color: $secondary;
    font-weight: 400;
    margin: 45px 0 25px 0;
    font-family: $font1;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    color: $bodyColor;
    max-width: 330px;
  }
}

.practice_area {
  &.style2 {
    padding: 100px 0 200px 0;
  }
}
