.error_wrapper {
  padding: 115px 0 320px 0;
  background-image: url(../img/banner/errorBanner.png);
  background-size: cover;
  background-position: bottom center;
  @media #{$tab} {
    padding: 75px 0 100px 0;
  }
  .error_wrapper_info {
    max-width: 626px;
    margin: 0 auto;
    .error_code {
      font-size: 180px;
      font-weight: 600;
      color: $secondary;
      margin-bottom: 0;
      @media #{$tab2} {
        font-size: 90px;
      }
    }
    h3 {
      font-size: 46px;
      font-family: $font2;
      font-weight: 600;
      color: $white;
      margin: 0px 0 0px 0;
      letter-spacing: 2.85px;
      @media #{$small_mobile} {
        font-size: 30px;
      }
      @media #{$large_mobile} {
        font-size: 40px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.83;
      color: $bodyColor;
      margin: 20px 0 23px 0;
    }
  }
}
