.faq_area {
  padding: 100px 0 170px 0;
  @media #{$tab2} {
    padding: 60px 0 120px 0;
  }
  &.style2 {
    padding: 260px 0 0px 0;
    @media #{$tab2} {
      padding: 60px 0 0px 0;
    }
  }
  .gridStyle {
    .card {
    }
  }
}
