footer {
  position: relative;
  background-size: cover;
  background-position: top center;
  background: #1e2027;
  .footer_top_area {
    .box_footerBox {
      background-color: #af864d;
      padding: 115px 0 110px 0;
      margin-top: -130px;
      @media #{$tab2} {
        padding: 60px 30px 60px 30px;
        margin-top: -60px;
      }
      .box_footerBox_inner {
        max-width: 980px;
        width: 100%;
        p {
          font-family: $font1;
          font-size: 18px;
          line-height: 1.67;
          color: #dedede;
          font-weight: 400;
          max-width: 626px;
          margin-top: 28px;
          text-align: center;
        }
        .footer_menuLinks {
          border-top: 0.5px solid #bead8a;
          border-bottom: 0.5px solid #bead8a;
          grid-gap: 30px;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          @media #{$tab2} {
            grid-gap: 0;
          }
          a {
            font-family: $font1;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            padding: 16px 0;
          }
        }
      }
    }
  }
  .copyright_area {
    padding-top: 126px;
    padding-bottom: 13px;
    @media #{$tab} {
      padding-top: 60px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font1;
          font-size: 18px;
          font-weight: 700;
          color: $white;
          margin-bottom: 20px;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 16px;
            font-weight: 500;
            color: #bcbcbc;
            line-height: 35px;
            font-family: $font1;
            &:hover {
              color: $secondary;
            }
          }
        }
      }
      p {
        font-size: 16px;
        font-weight: 500;
        color: #bcbcbc;
        margin-bottom: 27px;
        font-weight: 400;
        font-family: $font1;
        line-height: 1.75;
        a {
          color: #bcbcbc;
          &:hover {
            color: $secondary;
            text-decoration: underline;
          }
        }
      }
    }
    .copy_right_text {
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: $primary;
        font-weight: 400;
        a {
          color: $primary;
        }
      }
    }
    .footer_border {
      border-top: 1px solid rgba(17, 24, 72, 0.1);
      margin-bottom: 30px;
    }
  }
  .copyright_bottom {
    border-top: 1px solid #6d6d6d;
    text-align: center;
    padding: 35px 0 76px 0;
    p {
      font-family: $font1;
      font-size: 16px;
      font-weight: 600;
      color: #bcbcbc;
      a {
        color: $secondary;
      }
    }
  }
}

.theme_mailChimp {
  height: 50px;
  background: transparent;
  flex-wrap: nowrap;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 5px;
  form {
    display: grid;
    grid-template-columns: auto 112px;
    grid-gap: 0px;
  }
  .form-control {
    background: #f7f7f7;
    color: #252525;
    font-weight: 500;
    padding-left: 10px;
    border-radius: 0;
    height: 40px;
    border: 0;
    font-family: $font1;
    font-size: 18px;
    font-weight: 500;
    @media #{$small_mobile} {
      border-radius: 5px;
    }
    &::placeholder {
      color: #252525;
    }
    &:focus {
      box-shadow: none !important;
      z-index: 1;
    }
  }
  button {
    font-size: 18px;
    font-weight: 500;
    color: $white;
    background: $secondary;
    text-transform: capitalize;
    border-radius: 0 !important;
    padding: 0 18px;
    box-shadow: none !important;
    position: relative;
    right: 0;
    top: 0;
    border: 0;
    font-size: 18px;
    font-weight: 500;
  }
  .info {
    font-size: 14px;
    font-weight: 500;
    color: $white;
  }
}

.footerBox_socialLinks {
  grid-gap: 40px;
  margin: 20px 0 22px 0;
  a {
    font-size: 25px;
    color: $white;
  }
}
