.header_area {
  padding: 0px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0 0 0 50px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  &.header_static {
    position: relative;
    padding: 0px 35px 0 35px;
    @media #{$small_mobile} {
      padding: 10px 0px;
    }
    @media #{$medium_device} {
      padding: 10px 0px;
    }
  }
  @media #{$tab2} {
    padding: 10px 15px;
  }

  .header__wrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    .header__left {
      .logo_img {
        margin-right: 80px;
        @media #{$tab2} {
          margin-right: 30px;
        }
        @media #{$lg_device} {
          margin-right: 20px;
        }
        @media #{$large_xl} {
          margin-right: 20px;
        }
        @media #{'only screen and (min-width: 1300px) and (max-width: 1899.98px)'} {
          margin-right: 30px;
        }
        img {
          @media #{$tab2} {
            max-width: 200px;
          }
          @media #{$lg_device} {
            max-width: 200px;
          }
        }
      }
      .category_search {
        @media #{$tab} {
          display: none !important;
        }
        @media #{$lg_device} {
          display: none !important;
        }
        .theme_search_field {
          @media #{$lg_device} {
            display: none;
          }
          @media #{'only screen and (min-width: 1200px) and (max-width: 1299.98px)'} {
            display: none !important;
          }
          @media #{'only screen and (min-width: 1300px) and (max-width: 1399.98px)'} {
            width: 200px;
          }
          @media #{'only screen and (min-width: 1400px) and (max-width: 1499.98px)'} {
            width: 300px;
          }
        }
        .categories_menu {
          font-size: 16px;
          color: #687083;
          display: flex;
          align-items: center;
          font-weight: 600;
          margin-right: 30px;
          @media #{$tab2} {
            display: none !important;
          }
          i {
            font-weight: 900;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .main_menu {
    margin-left: auto;
    margin-right: 0;
    ul {
      li {
        display: inline-block;
        position: relative;
        &.submenu_active > a {
          color: $secondary;
        }
        a {
          color: $primary;
          font-size: 16px;
          font-weight: 600;
          margin: 0px 23px;
          padding: 38px 0;
          display: inline-block;
          text-transform: capitalize;
          font-family: $font1;

          &:hover,
          &.active {
            color: $secondary;
          }
          @media #{$lg_device} {
            font-size: 15px;
            margin: 0 7px;
          }
          @media #{$big_screen} {
            margin: 0 12px;
          }
          @media #{'only screen and (min-width: 1439px) and (max-width: 1599.98px)'} {
            margin: 0 12px;
          }
          @media #{'only screen and (min-width: 1600px) and (max-width: 1671.98px)'} {
            margin: 0 17px;
          }
        }
        // submenu
        .submenu {
          width: 244px;
          position: absolute;
          left: -50%;
          top: 120%;
          background: #fff;
          text-align: left;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
          opacity: 0;
          visibility: hidden;
          @include transition(0.3s);
          box-shadow: 0 8px 25px 0 rgba(32, 91, 255, 0.1);
          background-color: #1e2027;
          padding: 32px 0 30px 0;
          li {
            display: block;
            margin: 0;
            a {
              font-size: 16px;
              font-weight: 400;
              line-height: 1.88;
              letter-spacing: 0.8px;
              color: $white;
              padding: 0;
              display: block;
              margin: 0;
              padding: 4px 30px;
              @include transition(0.3s);
              position: relative;
              text-transform: capitalize;
              left: 0;
              &.active,
              &:hover {
                color: $secondary;
              }
              &:hover {
                left: 5px;
                color: $secondary;
              }
            }
          }
        }
        &:hover {
          > a {
            color: $secondary;
          }
          .submenu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .contact_wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media #{$small_mobile} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    .mobile_no {
      p {
        color: #505050;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
        font-family: $font1;
        span {
          a {
            color: $blueColor;
          }
        }
        @media #{$big_screen} {
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }
    .signin {
      a.sign_in {
        font-size: 16px;
        color: #505050;
        font-weight: 600;
        margin-right: 40px;
        @media #{$lg_device} {
          margin-right: 15px;
        }
        &:hover {
          color: #4543de;
        }
      }
    }
    .contact_btn {
      margin-left: 26px;
      background: #1e2027;
      padding: 25px 55px;
      @media #{$lg_device} {
        padding: 25px 20px;
      }
      a {
        color: #fff;
      }
    }
  }
  &.navbar_fixed {
    background: #fff;
    // padding: 20px;
    z-index: 90;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    @media #{$small_mobile} {
      // padding: 10px 10px;
    }
    .main_menu {
      ul {
        li {
          a {
            padding: 30px 0;
          }
        }
      }
    }
  }
}
