.lawer_widget {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 20px;
  .lawer_widget_thumb {
    .lawer_tag {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;
      color: $secondary;
      text-transform: uppercase;
      background: $white;
      font-weight: 600;
      padding: 8px 15px;
    }
  }
  .widget_team {
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: $primary;
      text-align: center;
      padding: 31px 0 31px 0;
      margin: 0;
    }
    .widget_team_bottom {
      border-top: 0.7px solid #e8e8e8;
      padding: 25px 0 10px 0;
      .lawerSocialLinks {
        a {
          font-size: 15px;
          color: $secondary;
          transition: 0.3s;
          &:not(:last-child) {
            margin-right: 15px;
          }
          &:hover {
            color: $primary;
          }
        }
      }
      .readmore_text {
        font-size: 16px;
        font-weight: 600;
        color: $secondary;
        text-transform: uppercase;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
