.login_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media #{$tab} {
    grid-template-columns: auto;
  }
  @media #{$lg_device} {
    grid-template-columns: 515px auto;
  }
  .login_wrapper_left {
    padding: 60px 56px 53px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    @media #{$tab} {
      padding: 40px 30px;
    }
    .login_wrapper_leftInner {
      max-width: 563px;
    }
    .login_wrapper_content {
      @media #{$tab} {
        padding-bottom: 100px;
      }
      h4 {
        font-size: 42px;
        font-weight: bold;
        color: #af864d;
        line-height: 1;
        @media #{$tab} {
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 40px;
        }
      }
      .loginSubText {
        font-size: 18px;
        font-weight: 400;
        color: #6d6d6d;
        margin: 22px 0 55px 0;
      }
      .socail_links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        @media #{$tab} {
          grid-template-columns: repeat(1, 1fr);
        }
        @media #{$lg_device} {
          grid-template-columns: repeat(3, 1fr);
        }
        a {
          grid-gap: 13px;
          border: 1px solid #e3e6ef;
          background-color: #fff;
          height: 60px;
          padding: 0 26px;
          span {
            font-size: 21px;
            font-weight: 600;
            color: $primary;
          }
        }
      }
      .loginSeperator {
        grid-gap: 26.3px;
        margin: 30px 0 44px 0;
        @media #{$tab2} {
          grid-gap: 15px;
        }
        span {
          width: 100%;
          height: 1px;
          background: #e3e6ef;
        }
        .login_text {
          font-size: 18px;
          font-weight: 500;
          color: #6d6d6d;
          white-space: nowrap;
        }
      }

      .remember_forgot_pass {
        align-items: center;
        margin-bottom: 60px;
        .primary_checkbox .label_name {
          font-size: 14px;
          color: #687083;
        }
        p {
          font-family: $font1;
          font-size: 14px;
          font-weight: 500;
          color: #687083;
          margin-bottom: 0;
          a {
            text-decoration: underline;
            color: #687083;
          }
        }
        .forgot_pass {
          font-size: 14px;
          font-weight: 500;
          color: #5dabfc;
          font-family: $font1;
        }
      }
    }
    .shitch_text {
      font-size: 18px;
      font-weight: 600;
      color: $primary;
      font-family: $font1;
      a {
        color: $secondary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .login_wrapper_right {
    background-image: url(../img/loginBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$tab2} {
      display: none;
    }
    .login_main_info {
      text-align: center;
      .logo {
        position: absolute;
        left: 70px;
        top: 70px;
      }
    }
    h4 {
      font-family: $font1;
      font-size: 33px;
      font-weight: 400;
      letter-spacing: 1.65px;
      color: #fff;
      @media #{$lg_device} {
        font-size: 25px;
      }
    }
    h3 {
      font-size: 89px;
      font-weight: 600;
      letter-spacing: 4.45px;
      color: $white;
      margin: 7px 0 33px 0;
      @media #{$lg_device} {
        font-size: 45px;
      }
      @media #{$large_xl} {
        font-size: 55px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.39;
      letter-spacing: 0.54px;
      text-align: center;
      color: #fff;
      max-width: 358px;
      margin: 0 auto;
    }
  }
}

.custom_group_field {
  border-bottom: 1px solid #e1e2e6;
  span {
    background: transparent;
    border: 0;
    padding: 0;
    width: 20px;
    text-align: left;
    padding-bottom: 14px;
  }
  input {
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: $font2;
    box-shadow: none !important;
    padding-bottom: 19px;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #afafaf;
    }
  }
}
