.primary_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 3px;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: 0.3s;
    transform: scale(0);
  }
  input:checked ~ .checkmark {
    background: $secondary;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 3px;
    text-indent: 1px;
    color: #828bb2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    z-index: 99;
    color: #fff;
    transition: 0.3s;
  }

  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #e9e7f7;
    transition: 0.3s;
    transform: scale(1);
  }
}

.primary_checkbox2 {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 16px;
    font-weight: 600;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 600;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 50%;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: 0.3s;
    transform: scale(0);
  }
  input:checked ~ .checkmark {
    background: #20e007;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 3px;
    text-indent: 1px;
    color: #828bb2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    z-index: 99;
    color: #fff;
    transition: 0.3s;
    font-weight: 700;
  }

  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e9e7f7;
    transition: 0.3s;
    transform: scale(1);
  }
  &.error_ans {
    input:checked ~ .checkmark::before {
      content: "\e646";
      font-family: "themify";
      position: absolute;
      display: block;
      top: 0;
      left: 5px;
      text-indent: 1px;
      color: #828bb2;
      background-color: transparent;
      border: 0px;
      transform: rotate(0deg);
      font-size: 6px;
      font-weight: 600;
      line-height: 18px;
      z-index: 99;
      color: #fff;
      transition: 0.3s;
      font-weight: 700;
    }
    input:checked ~ .checkmark {
      background: #ff1414;
      transition: 0.3s;
    }
  }
}
.primary_bulet_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 500;
    font-family: $font2;
    color: $primary;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 50%;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1);
    border-color: $secondary;
  }
  input:checked ~ .checkmark {
    // background: $secondary;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    transform: translate(-50%, -50%) scale(1);
  }
  .checkmark::before {
    position: absolute;
    background: $secondary;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e9e7f7;
    transition: 0.3s;
    transform: scale(1);
  }
}

.play_button {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: $secondary;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  position: relative;
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: $secondary;
    color: $white;
  }
}

.theme__overlay {
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0b21;
    opacity: 0.4;
    z-index: -1;
  }
}

.lms_tabmenu {
  background: #f8f8fe;
  border-radius: 10px;
  display: inline-flex;
  li {
    a {
      font-size: 16px;
      font-weight: 600;
      font-family: $font1;
      color: $primary;
      border-radius: 10px;
      padding: 13px 39px;
      @media #{$tab} {
        padding: 13px 30px;
      }
      @media #{$large_mobile} {
        padding: 13px 27px;
      }
      &.active {
        background: $secondary;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.theme_border {
  border-top: 1px solid #e9e7f7;
}

.theme_according {
  button {
    &::before {
      right: 25px;
      position: absolute;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      content: "\e61a";
      font-family: "themify";
      font-size: 15px;
      color: $secondary;
      font-weight: 400;
      transform: rotate(45deg);
    }
    &.collapsed::before {
      transform: rotate(0deg);
    }
  }
}
.theme_according {
  .card {
    border: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    .card-header {
      border: 0;
      border-radius: 5px;
      background: transparent;
      padding: 0;
      h5 {
        button {
          font-family: $font1;
          width: 100%;
          border: 0;
          padding: 37.5px 41px 27.5px 30px;
          text-decoration: none !important;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.44;
          letter-spacing: 2.16px;
          text-align: left;
          color: #6d6d6d;
          transition: 0.3s;
          &.collapsed {
            padding: 37.5px 41px 37.5px 30px;
          }
        }
      }
    }
  }
  .card-body {
    padding: 0px 30px 33px 30px;
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.83;
      text-align: left;
      color: #858585;
    }
  }
}
