.pricing_area {
  padding: 0px 0 280px 0;
  @media #{$tab2} {
    padding: 60px 0 120px;
  }
  .prisingText {
    margin-top: 70px;
    h4 {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      font-family: $font1;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.83;
      color: #6d6d6d;
      max-width: 570px;
      margin: 15px auto 22px auto;
      text-align: center;
    }
  }
}
.pricing_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: -504px;
  position: relative;
  z-index: 12;

  @media #{$tab} {
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$medium_device} {
    grid-template-columns: repeat(2, 1fr);
  }
}
.single_pricing {
  padding: 32px 30px 40px 30px;
  background: $white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  .pricingHeader {
    border-bottom: 1px solid rgba(175, 134, 77, 0.4);
    margin-bottom: 40px;
    padding-bottom: 40px;
    span {
      position: relative;
      padding-left: 40px;
      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        border-radius: 6px;
        background: $secondary;
        left: 0;
        top: 10px;
      }
    }
    h4 {
      font-size: 32px;
      font-weight: 400;
      font-family: $font1;
      color: #000;
      margin: 25px 0 26px 0;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.39;
      color: #6d6d6d;
    }
  }
  .pricingBody {
    h5 {
      font-family: $font1;
      font-size: 18px;
      font-weight: 500;
      color: #6d6d6d;
      margin-bottom: 18px;
    }
    ul {
      li {
        font-size: 18px;
        line-height: 1.39;
        font-weight: normal;
        color: #6d6d6d;
        padding-left: 30px;
        position: relative;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 10px;
          width: 20px;
          height: 2px;
          background: $secondary;
          border-radius: 6px;
        }
      }
    }
  }
  .pricingBottom {
    margin-top: 37px;
    .primary_btn {
      padding: 24px 0;
    }
  }
}

// package details
.pricing_detailsArea {
  padding: 140px 0 330px 0;
  @media #{$tab} {
    padding: 60px 0 140px 0;
  }
  .pricing_details_info {
    @media #{$xl_device} {
      padding: 0 0 0 40px;
    }
    h3 {
      font-size: 46px;
      font-weight: 500;
      color: #000;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.83;
      color: #6d6d6d;
    }
    h4 {
      font-family: $font1;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 3.3px;
      color: #000;
      margin: 50px 0 16px 0;
    }
    ul {
      margin-top: 25px;
      padding-left: 40px;
      li {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.83;
        color: #6d6d6d;
        position: relative;
        padding-left: 16px;
        margin-bottom: 5px;
        &::before {
          content: "";
          position: absolute;
          top: 13px;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #6d6d6d;
        }
      }
    }
  }
  .pricing_details_img {
    @media #{$xl_device} {
      padding: 0 0 0 40px;
    }
  }
}

.pricing_details_banner {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 633px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  padding-top: 171px;
  @media #{$medium_device} {
    height: 500px;
    padding-top: 100px;
  }
  @media #{$tab} {
    height: auto;
    padding-top: 100px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 0, 0, 0.7);
    z-index: -1;
  }
  .pricing_details_text {
    h3 {
      font-size: 60px;
      font-weight: 600;
      color: $white;
      @media #{$tab} {
        font-size: 40px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: #dedede;
      margin: 16px 0 35px 0;
      max-width: 325px;
      line-height: 1.83;
    }
    ul {
      li {
        font-family: $font1;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        position: relative;
        padding-left: 30px;
        margin-bottom: 13px;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          border-radius: 6px;
          background-color: #af864d;
          left: 0;
          top: 10px;
        }
      }
    }
  }
}
.pricing_details_wrapper {
  display: flex;
  justify-content: space-between;
  @media #{$tab} {
    flex-wrap: wrap;
    grid-gap: 30px;
  }
  @media #{$tab2} {
    margin-bottom: 30px;
  }
  .pricing_details_form {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    min-width: 429px;
    max-width: 429px;
    padding: 50px 40px 60px 40px;
    position: relative;
    top: 13px;
    @media #{$tab} {
      min-width: 280px;
      max-width: 100%;
      top: 0;
    }
    @media #{$medium_device} {
      min-width: 370px;
      max-width: 370px;
    }
    h4 {
      font-family: $font1;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 2.2px;
      color: #000;
      @media #{$tab2} {
        font-size: 18px;
      }
    }
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.39;
      color: #6d6d6d;
      margin: 27px 0 48px 0;
      @media #{$tab2} {
        font-size: 14px;
      }
    }
    .priseText {
      margin-bottom: 40px;
      h5 {
        font-family: $font1;
        font-size: 24px;
        font-weight: 400;
        color: #000;
        @media #{$tab2} {
          font-size: 18px;
        }
      }
      span {
        font-family: $font1;
        font-size: 18px;
        font-weight: 400;
        color: #6d6d6d;
        text-decoration: line-through;
        @media #{$tab2} {
          font-size: 14px;
        }
      }
    }
  }
}
