.cart_wrapper {
  padding: 148px 0 150px 0;
  @media #{$tab} {
    padding: 75px 0 75px 0;
  }
  .cart_table_wrapper {
    margin-bottom: 78px;
    @media #{$tab} {
      margin-bottom: 40px;
    }
    h4 {
      font-size: 22px;
      font-weight: 700;
      color: #202e3b;
      margin-bottom: 30px;
    }
  }
}

.table.custom_table {
  border-radius: 5px;
  border-collapse: collapse;
  border-radius: 5px;
  // border-style: hidden;

  thead {
    tr {
      th {
        font-size: 17px;
        font-weight: 700;
        color: #202e3b;
        border-top: 1px solid #e1e2e6;
        border-bottom: 1px solid #e1e2e6;
        padding: 22px 30px;
        font-family: $font1;
        &:nth-child(1) {
          border-left: 1px solid #e1e2e6;
          padding-left: 295px;
          @media #{$tab} {
            padding-left: 180px;
          }
        }
        &:last-child {
          border-right: 1px solid #e1e2e6;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid #e1e2e6;
        font-family: $font2;
        color: $color_1;
        font-size: 16px;
        vertical-align: middle;
        padding: 20px 30px;
        white-space: nowrap;
        .in_stoke {
          color: #49a60a;
        }
        &:nth-child(1) {
          border-left: 1px solid #e1e2e6;
          padding-left: 20px;
        }
        &:last-child {
          border-right: 1px solid #e1e2e6;
        }
        .product_name {
          .close_icon {
            margin-right: 10px;
          }
          .thumb {
            width: 160px;
            height: 100px;
            margin-right: 90px;
            @media #{$tab} {
              width: 100px;
              height: 60px;
              margin-right: 30px;
            }
            img {
              width: 100%;
            }
          }
          span {
            font-size: 16px;
            font-weight: 400;
            color: #373737;
          }
        }
      }
    }
  }
  tfoot {
    td {
      border-top: 1px solid #e1e2e6;
      border-bottom: 1px solid #e1e2e6;
      padding: 25px 20px;
      &:nth-child(1) {
        border-left: 1px solid #e1e2e6;
      }
      &:last-child {
        border-right: 1px solid #e1e2e6;
        text-align: right;
      }
    }
  }
  &.custom_table2 {
    tbody {
      td {
        padding: 25px 40px;
      }
    }
  }
}
.table.custom_table3 {
  border-radius: 5px;
  border-collapse: collapse;
  border-radius: 5px;
  // border-style: hidden;

  thead {
    tr {
      th {
        font-size: 16px;
        font-weight: 600;
        color: #373737;
        border-top: 0;
        border-bottom: 1px solid#E9E7F7;
        padding: 15px 30px;
        font-family: $font1;
        padding-left: 0;
        white-space: nowrap;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid#E9E7F7;
        font-family: $font2;
        color: $color_1;
        font-size: 16px;
        vertical-align: middle;
        padding: 14.5px;
        white-space: nowrap;
        padding-left: 0;
        font-weight: 400;
        h5 {
          font-weight: 500;
          font-family: $font2;
          color: $color_1;
          margin-bottom: 0;
          font-size: 16px;
        }
        .product_name {
          .close_icon {
            margin-right: 10px;
          }
          .thumb {
            width: 160px;
            height: 100px;
            margin-right: 90px;
            @media #{$tab} {
              width: 100px;
              height: 60px;
              margin-right: 30px;
            }
            img {
              width: 100%;
            }
          }
          span {
            font-size: 16px;
            font-weight: 400;
            color: #373737;
          }
        }
      }
    }
  }
}
.coupon_wrapper {
  display: grid;
  grid-template-columns: 300px 170px;
  grid-gap: 10px;
  .primary_btn.small_btn2 {
    padding: 16px 9px;
  }
  .primary_input {
    background: #f9f9fd;
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $primary;
    &::placeholder {
      color: #687083;
      font-size: 14px;
      font-weight: 500;
      font-family: $font1;
    }
  }
}

.product_number_count {
  display: inline-flex;
  .count_single_item {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #e1e2e6;
    font-size: 14px;
    color: #687083;
    display: inline-block;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
    cursor: pointer;
    background: #f9f9fd;
  }
  .count_single_item.input-number {
    cursor: text;
    width: 60px;
    background: #fff;
    color: #373737;
    font-weight: 500;
    font-family: $font2;
    font-size: 16px;
    border-right: 0;
    border-left: 0;
    &::placeholder {
      color: #373737;
    }
  }
}
