.testmonial_area {
  padding: 228px 160px;
  background: #f7f7f7;
  position: relative;
  overflow: hidden;
  @media #{$tab2} {
    padding: 65px 0 60px 0;
  }
  @media #{$large_xl} {
    padding: 228px 30px;
  }
  .testmonial_wrapper {
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      background: #bcbcbc;
      left: 20%;
      top: -100%;
      bottom: -100%;
      z-index: -1;
      @media #{"(max-width: 1400.98px)"} {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background: #bcbcbc;
      right: 20%;
      top: -100%;
      bottom: -100%;
      z-index: -1;
      @media #{"(max-width: 1400.98px)"} {
        display: none;
      }
    }
  }
  .single_testmonial {
    border-top: 0.5px solid #bcbcbc;
    border-bottom: 0.5px solid #bcbcbc;
    padding: 40px 50px 72px 50px;
    position: relative;
    background: #f7f7f7;
    @media #{$tab} {
      padding: 40px 40px 48px 40px;
    }
    .testmonial_header {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      grid-gap: 6px;
      .thumb {
        width: 57px;
        height: 57px;
        flex: 57px 0 0;
        @media #{$tab} {
          width: 57px;
          height: 57px;
          flex: 57px 0 0;
        }
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .reviewer_name {
        h4 {
          font-size: 25px;
          font-weight: 600;
          font-family: $font2;
        }
        span {
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          color: $secondary;
          display: block;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      color: $bodyColor;
      margin-bottom: 0;
    }
  }
  .testmonial_thumb {
    position: absolute;
    right: 166px;
    bottom: 0;
    max-width: 580px;
    @media #{$large_xl} {
      right: 66px;
    }
    @media #{$tab2} {
      display: none;
    }
    img {
    }
  }
}

// testmonial_area2
.testmonial_area2 {
  padding-bottom: 200px;
  @media #{$tab2} {
    padding-bottom: 90px;
  }
  .section__title {
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      color: #858585;
      max-width: 653px;
      margin-top: 17px;
    }
  }
}
.testmonial_widget {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 60px 50px;
  @media #{$tab2} {
    padding: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.83;
    color: #858585;
    margin-bottom: 34px;
  }
  .testmonial_bottom {
    grid-gap: 15px;
    .thumb {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    .reviewer_name {
      h4 {
        font-family: $font1;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: 1.4px;
        color: #af864d;
      }
      h5 {
        font-family: $font1;
        font-size: 16px;
        font-weight: 500;
        line-height: 0.94;
        letter-spacing: 1.12px;
        color: $primary;
        margin-bottom: 0;
      }
    }
  }
}
