.section__title {
  .subTitle {
    font-size: 16px;
    color: $primary;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
    padding-left: 60px;
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 6px;
      left: 0;
      bottom: 11px;
      background: $secondary;
    }
  }
  h3 {
    font-size: 46px;
    font-weight: 600;
    color: $secondary;
    @media #{$lg_device} {
      font-size: 38px;
    }
    @media #{$medium_device} {
      font-size: 30px;
    }
    @media #{$small_mobile} {
      font-size: 30px;
    }
    @media #{$large_mobile} {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.36;
    font-family: $font2;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    font-family: $font1;
    color: $bodyColor;
    line-height: 26px;
  }
}
.section__title2 {
  .subTitle {
    font-size: 20px;
    color: $secondary;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
  }
  h3 {
    font-size: 46px;
    font-weight: 600;
    color: $secondary;
    line-height: 1.3;
    @media #{$tab2} {
      font-size: 35px;
    }
    &.max_490px {
      max-width: 490px;
    }
  }
}
