// fonts
$font1: "THICCCBOI";
$font2: "Playfair Display", serif;
// theme used color here

$gray-color: #ddd;
$color_1: #373737;
$color_2: #202e3b;
$color_3: #333333;

// theme colors
$primary: #000000;
$secondary: #af864d;
$bodyColor: #858585;
$blueColor: #627ae4;
$yellowColor: #ffd500;
$white: #fff;
// btn bg

$btn_bg_2: #4543de;

// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$large_xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";

$tab_device: "only screen and (min-width: 768px) and (max-width: 991.98px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
